/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before {
    box-sizing: border-box;
}

/* BARVY */
:root {
    /* pozadi */
    --grey: #949494;
    /* dekorace nadpisů */
    --decoration: #629edb;
}

body {
    margin: auto;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}

header {
    background-image: url(images/island-hlavicka.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: multiply;
    background-size: cover;

    color: white;
    text-align: center;

    margin: 0;
    padding: 2rem 2rem 3rem 2rem;
}

.titulek {
    font-family: 'Raleway', serif;
    font-size: 48px;
    font-weight: 700;

    margin: 0
}

.perex {
    margin: 1rem 0 2rem 0;
}

.oddelovac {
    margin: 0 auto;
    width: 5rem;
}

.autor {
    font-style: italic;
    margin: 1rem 0 0 0;
}

main {
    max-width: 960px;
    margin: 0 auto;

    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.zacatek {
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 0;
}

.menu {
    padding: 0 1rem;
}

.menu a {
    font-family: 'Raleway', serif;
    font-size: 12px;

    color: var(--grey);

    text-transform: uppercase;
    text-decoration: none;
}

.menu a:hover {
    font-weight: 700;
}

.menu li {
    display: block;

    text-align: center;

    margin: 0;
    padding: .25rem 0;

    border-bottom: 1px solid var(--grey);
}

ul {
    list-style-type: none;
}

.uvod {
    margin: 2rem 1.5rem;
}

.text-foto {
    position: relative;
    margin: 0;
}

.text-foto img {
    max-width: 100%;
}

.popisek {
    font-size: 12px;
    color: var(--grey);
    font-family: 'Raleway', serif;
    font-weight: 400;
    text-align: center;
    margin-top: .3rem;
}

.popisek a {
    color: var(--grey);
}

h2 {
    font-family: 'Raleway', serif;
    padding: 1rem 0 0 1.5rem;
    margin: 0;
}

h2::after {
    content: '';
    display: block;
    width: 5rem;
    border-top: 3px solid var(--decoration);
    margin: 1rem 0 1.5rem -1.5rem;
}

.obsah {
    margin: 0 1.5rem 1rem 1.5rem;
}

.videt h2 {
    padding-left: 0;
}

.galerie .obsah {
    margin: 0;
    display: flex;
}

.galerie > .popisek {
    text-align: center;
    margin: 0 0 1rem 0;
}

.foto {
    margin: 0;
    width: 100%;
}

.foto img {
    margin: 0;
    width: 100%;
}

.text-foto img {
    max-width: 100%;
}

footer {
    display: block;

    font-family: 'Raleway', serif;
    font-size: 12px;
    font-weight: 400;

    color: var(--grey);

    padding: 1.5rem;
}

footer a {
    color: var(--grey);
}

/* TELEFON */
@media screen and (max-width: 499px) {
    .galerie .obsah {
        flex-direction: column;
    }
}

/* TABLET */
@media screen and (min-width: 500px) and (max-width: 999px) {

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding: 0;
    }

    .menu li {
        padding: .25rem 0;
        border-top: 1px solid var(--grey);
        border-right: 1px solid var(--grey);

        flex-grow: 1;
    }

    .menu li:last-child {
        border-right: none;
    }

    .popisek {
        position: absolute;
        right: 1rem;
        bottom: 1rem;

        color: white;

        margin-top: .25rem;
    }

    .popisek a {
        color: white;
    }

    .galerie .obsah {
        flex-wrap: wrap;
    }

    .galerie .foto {
        position: relative;

        overflow: hidden;

        max-width: calc(1 / 2 * 100%);
    }

    .galerie .foto img {
        height: 100%;
        transition: all .5s ease-in-out;
    }

    .galerie .foto:hover img {
        transform: scale(1.2);
    }

    .galerie .popisek {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        margin: 0 auto;

        font-weight: 700;
        font-size: 1rem;
        text-align: center;

        color: white;

        padding: .5rem 0;
        background-color: rgba(0, 0, 0, .8);
        background-blend-mode: multiply;

        transform: translate(0, 100%);
    }

    .galerie .foto:hover .popisek {
        transform: translate(0, 0%);

        transition: all 0.5s;
    }

    .popisek-copy {
        font-weight: 400;
        font-size: 12px;
    }
}

@media screen and (min-width: 1000px) {

    .zacatek {
        flex-direction: row;
    }

    header {
        padding: 5rem 2rem;
    }

    .perex {
        max-width: 700px;
        margin: 1rem auto;
    }

    .oddelovac {
        margin: auto;
        width: 6rem;
    }

    main {
        margin: -4rem auto auto auto;
    }

    .menu {
        width: calc(1 / 4 * 100%);
        padding: 1.5rem 0 0 2rem;
        margin: 0;
    }

    .menu li {
        text-align: left;
        padding: .25rem 0;

    }

    .uvod {
        width: calc(3 / 4 * 100%);
        margin: 2rem;
    }

    .proc {
        max-width: calc(3 / 4 * 100%);
    }

    h2 {
        padding: 3rem 0 0 1.5rem;
    }

    .videt .obsah {
        padding-left: calc(1 / 4 * 100%);
    }

    .obsah:nth-child(3) {
        padding-left: 0;
        padding-right: calc(1 / 4 * 100%);
    }

    .videt .obsah h2 {
        padding: 3rem 0 0 0;
    }

    .text-foto > .popisek {
        position: absolute;
        right: 1rem;
        bottom: 1rem;

        color: white;

        margin-top: 0.3rem;
    }

    .popisek a {
        color: white;
    }

    .galerie .obsah {
        flex-wrap: wrap;
    }

    .foto {
        max-width: calc(1 / 3 * 100%);
        overflow: hidden;
        position: relative;
    }

    .foto img {
        height: 100%;
        transition: all .5s ease-in-out;
    }

    .foto:hover > img {
        transform: scale(1.2);
    }

    .galerie .popisek {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        margin: auto;
        padding: 1rem 0 1rem 0;

        font-weight: 700;
        font-size: 1rem;
        text-align: center;

        color: white;

        background-color: rgba(0, 0, 0, .8);
        background-blend-mode: multiply;

        transform: translate(0, 100%);
    }

    .galerie .foto:hover > .popisek {
        transform: translate(0, 0%);
        transition: all .5s;
    }

    .popisek-copy {
        font-weight: 400;
        font-size: 12px;
    }

    footer {
        max-width: 960px;
        margin: auto;
        padding: 1.5rem 0 0 0;
    }
}
